<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias | Universidad mesoamericana</title>
    <link rel="stylesheet" href="/Css/styles.css">
    <link rel="icon" href="/Assets/Imagenes/PagInicial/LogoMesoPng.png">
</head>
<body>
    <header class="bloque">    
        <div id="header">
            <ul class="menu-horizontal">
                <li><a href="/Html/Index.html">Inicio</a></li>
    
                <li><a href="">Noticias  </a></li>
    
                <li><a href="">Organizacion <i class="fa fa-angl    e-down" style="font-weight: bold;"></i> </a>
                    <ul class="menu-vertical">
                        <li><a href="">Historia</a></li>
                        <li><a href="">Ideario</a></li>
                        <li><a href="">Visión y Misión</a></li>
                        <li><a href="">Estatutos y <br> Reglamentos</a></li>
                        <li><a href="">Autoridades</a></li>
                        <li><a href="">Alianza Microsoft</a></li>
                        <li><a href="">Descargas</a></li>
                        <li><a href="">Pastoral</a></li>
                        <li><a href="">Himno de la <br> Universidad</a></li>
                        <li><a href="">Tour Virtual</a></li>
                        <li><a href="">Becas</a></li>
                        <li><a href="">Galería Meso</a></li>
                        <li><a href="">Bolsa de Empleo</a></li>
                        <li><a href="">Sede Central</a></li>
                    </ul>
                </li>
    
                <li><a href="">Academico <i class="fa fa-angle-down" style="font-weight: bold;"></i></a>
                    <ul class="menu-vertical">
                        <li><a href="">Carreras</a></li>
                        <li><a href="">Requisitos de <br> admision</a></li>
                        <li><a href="">Horario de clases</a></li>
                        <li><a href="">Calendario Académico <br> 2022</a></li>
                        <li><a href="">Pasos de Inscripción</a></li>
                        <li><a href="">Registro Académico</a></li>
                        <li><a href="">Revista Explora</a></li>
                    </ul>
                </li>
    
                <li><a href="">Admisiones <i class="fa fa-angle-down" style="font-weight: bold;"></i></a>
                    <ul class="menu-vertical">
                        <li><a href="">Exámenes de admisión</a></li>
                        <li><a href="">Entrevistas, Facultad <br> de Ingeniería</a></li>
                        <li><a href="">Entrevistas, Facultad <br> de Arquitectura</a></li>
                        
                    </ul>
                </li>
    
                <li><a href="">Estudiantes <i class="fa fa-angle-down" style="font-weight: bold;"></i></a>
                    <ul class="menu-vertical">
                        <li><a href="">Aula Virtual</a></li>
                        <li><a href="">Sitio de Estudiantes</a></li>
                        <li><a href="">Correo Institucional</a></li>
                        <li><a href="">Técnicas de Estudio</a></li>
                        <li><a href="">Revista Explora</a></li>
                    </ul>
                </li>
    
                <li><a href="">Docentes <i class="fa fa-angle-down" style="font-weight: bold;"></i></a>
                    <ul class="menu-vertical">
                        <li><a href="">Aula Virtual</a></li>
                        <li><a href="">Sitio de Docentes</a></li>
                        <li><a href="">Correo Institucional</a></li>
                        <li><a href="">Técnicas de Estudio</a></li>
                        <li><a href="">Revista Explora</a></li>   
                    </ul>
                </li>
    
                <li><a href="">Contáctanos</a></li>

                <li><a href=""> <img class="color" src="/Assets/Imagenes/PagInicial/SearchIcon.png" alt=""></a></li>
                           
            </ul>   
    </header>

    <main>
        <div class="Noticias">
            NOTICIAS
        </div>
        <div class="contenedorImagenes">
            <div class="imagen">
                <img src="/Assets/Imagenes/Noticias/1.png" alt="">
                <div class="overlay">
                    <div class="parrafo">
                        <p class="parrafo">Graduados con Fondo de Becas Robert Carmack – James Mondloch</p>
                        <p class="parrafo2">Jul 25, 2022</p>
                        <p class="parrafo3">ESTUDIANTES GRADUADOS CON NUESTRO FONDO DE BECAS Universidad Mesoamericana se enorgullese de los...</p>
                    </div>
                </div>
            </div>
            <div class="imagen2">
                <img src="/Assets/Imagenes/Noticias/2.jpg" alt="">
                <div class="overlay">
                    <p class="parrafo">INFORMACIÓN SOBRE SUSPENSIÓN DE ACTIVIDADES</p>
                    <p  class="parrafo2">Jul 6, 2022</p>
                    <p class="parrafo3">INFORMACIÓN IMPORTANTE PARA ESTUDIANTES Y PERSONAL DE NUESTRO CAMPUS ZONA 3A toda la comunidad...</p>
                </div>
            </div>
            <div class="imagen3">
                <img src="/Assets/Imagenes/Noticias/3.jpg" alt="">
                <div class="overlay">
                    <p class="parrafo">Modalidad de clases – Segundo Ciclo 2022</p>
                    <p class="parrafo2">Jun 14, 2022</p>
                    <p class="parrafo3">A todos los estudiantes de la Sede de Quetzaltenango se les informa que, a partir del segundo...</p>
                </div>
            </div>
            <div class="imagen4">
                <img src="/Assets/Imagenes/Noticias/4.jpg" alt="">
                <div class="overlay">
                    <p class="parrafo">Palabras del Rector Mayor de los salesiano</p>
                    <p class="parrafo2">Nov 26, 2021</p>
                    <p class="parrafo3">(ANS - Roma) - “Los jóvenes siempre nos sorprenden con su creatividad… ¡Realmente creo que el...</p>
                </div>
            </div>
            <div class="imagen5">
                <img src="/Assets/Imagenes/Noticias/5.jpg" alt="">
                <div class="overlay">
                    <p class="parrafo">Información sobre Solicitud de Becas</p>
                    <p class="parrafo2">Nov 2, 2021</p>
                    <p class="parrafo3">REQUISITOS PARA SOLICITUD DE BECAPrimer IngresoAl tener la papelería completa, debe adjuntar en un...</p>
                </div>
            </div>
            <div class="imagen6">
                <img src="/Assets/Imagenes/Noticias/6.png" alt="">
                <div class="overlay">
                    <p class="parrafo">Exámenes de Admisión 2021</p>
                    <p class="parrafo2">Oct 11, 2021</p>
                    <p class="parrafo3">FECHAS 2021 Septiembre Jueves 9 Jueves 23 Octubre Miércoles 6 Jueves 21 Noviembre Jueves 4 Jueves...</p>
                </div>
            </div>
            <div class="imagen7">
                <img src="/Assets/Imagenes/Noticias/7.png" alt="">
                <div class="overlay">
                    <p class="parrafo">Umial Tinimit Re Xelajuj No’j – 2021</p>
                    <p class="parrafo2">Sep 8, 2021</p>
                    <p class="parrafo3">Umial Tinimit Re Xelajuj No'j 2021 - 2022El pasado domingo 5 de septiembre se celebró, de manera...</p>
                </div>
            </div>
            <div class="imagen8">
                <img src="/Assets/Imagenes/Noticias/8.jpg" alt="">
                <div class="overlay">
                    <p class="parrafo">Inscripciones Cuarto y Sexto Semestre, Facultad de Medicina</p>
                    <p class="parrafo2">Jul 28, 2021</p>
                    <p class="parrafo3">INSCRIPCIÓN CUARTO SEMESTRE Estudiantes que enviaron correo para asignación de cursos del segundo...</p>
                </div>
            </div>
            <div class="imagen9">
                <img src="/Assets/Imagenes/Noticias/9.jpg" alt="" width="">
                <div class="overlay">
                    <p class="parrafo">INFORMACIÓN IMPORTANTE PARA ALUMNOS SOBRE PROCESO DE VACUNACIÓN</p>
                    <p class="parrafo2">Jul 22, 2021</p>
                    <p class="parrafo3">INFORMACIÓN IMPORTANTE PARA ALUMNOS SOBRE PROCESO DE VACUNACIÓN</p>
                </div>
            </div>
        </div>
    </main>


</body>
</html>